<link rel="stylesheet" href="css/styles.css">
<ul>
  {%-for item in include.collection-%}
    <li>
    {%- if item.url -%}
      <a href="{{ item.url }}">{{ item.detail }}</a>
    {%- elsif item.detail -%}
      {{ item.detail }}
    {%- elsif item.italics_detail -%}
      <span style="font-style: italic;">{{ item.italics_detail }}</span>
    {%- elsif item.small_detail -%}
      <span style="font-size: 10px;">{{ item.small_detail }}</span>
    {%- else -%}
      <h3 style="margin: 0px; padding: 0px;"> {{ item.title }} </h3>
    {%- endif -%}
    </li>

    {%-if item.post_list-%}
      {%
        include post_list.html
          category=item.post_list.category
          limit=item.post_list.limit
          show_more=item.post_list.show_more
          show_more_text=item.post_list.show_more_text
          show_more_url=item.post_list.show_more_url
     -%}
    {%-endif-%}

    {%-if item.entries-%}
      {%-include menu_item.html collection=item.entries-%}
    {%-endif-%}
  {%-endfor-%}
</ul>
