{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}  
{%-else-%}
  {%-assign posts = site.posts-%}
{%-endif-%}

{%-if include.limit and posts.size > include.limit-%}
  {%-assign limit_exceeded = true-%}
{%-else-%}
  {%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if posts.size > 0 -%}
    <div class="sfw-projects">
    {%- for post in posts limit: include.limit -%}
        <div class="sfw-project">
            {%- if post.thumbnail -%}
            <div class="sfw-project-thumbnail">
                <img src="{{ post.thumbnail }}" class="sfw-project-img"/>
            </div>
            {%- endif -%}
            <div onclick="window.location='{{ post.url | relative_url }}'" class="sfw-project-text">
                <p class="sfw-project-text-title">{{ post.title }}</p>
                {%- if post.subtitle -%}
                <p class="sfw-project-text-subtitle">{{ post.subtitle }}</p>
                {%- endif -%}
            </div>
        </div>
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
        <div class="sfw-project">
            <div class="sfw-project-thumbnail">
                <img src="/img/code.gif" alt="code gif" class="sfw-project-img"/>
            </div>
            <div onclick="window.location='{{ include.show_more_url }}'" class="sfw-project-text">
                <p class="sfw-project-text-title">{{ include.show_more_text | default: "Show more..." }}</p>
            </div>
        </div>
    </div>
    {%- endif -%}
<!--
  <ul>
    {%- for post in posts limit: include.limit -%}
        <li>
          <span style="font-family: 'Courier New', monospace; font-size: 20px;">[ {{ post.title }} ]</span>
          <span>{{- post.date | date: site.theme_config.date_format -}}</span>
          <a href="{{ post.url | relative_url }}">.view-project()</a>
        </li>
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
      <li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></li>
    {%- endif -%}
  </ul>
-->
{%- endif -%}

<style>
.sfw-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.sfw-project-thumbnail:hover ~ .sfw-project-text {
    background: white;
}
.sfw-project-text:hover {
    background: white;
    cursor: pointer;
}
.sfw-project-text-title:hover {
    text-decoration: underline black dotted 2px;
}
.sfw-project {
    max-width: 256px; 
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}
.sfw-project-thumbnail {
    border-bottom: 1px solid black;
    border-radius: 25px 25px 0px 0px;
    max-width: 256px;
    max-height: 128px;
}
.sfw-project-img {
    max-width: 256px;
    max-height: 128px;
    border-radius: 10px;
}
.sfw-project-text {
    background: whitesmoke;
    border-radius: 0px 0px 25px 25px;
}
.sfw-project-text-title {
    font-family: 'Courier New', monospace; 
    font-size: 20px;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 2px;
}
.sfw-project-text-subtitle {
    font-family: 'Georgia', serif; 
    font-size: 13px;
    font-style: italic;
    color: gray;
    margin-top: 0px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 7px;
}
</style>
